.sword{
    & ._cor{
        fill: rgb(98, 119, 135);
        
    }
}

.balancar{
    animation-name: attack;
    animation-duration: 0.5s;
    // animation-fill-mode: forwards;
}
@keyframes attack {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(40deg);}
    100% {transform: rotate(0deg);}
  }