<div class="component">
    <div class="line"><div class="item"><span class="info">nada</span> </div></div>
    <div class="line">
        <div class="item">
            <span class="info">{{personS._person.leftHand.name}}</span>
            <span class="info">ataque: {{personS._person.leftHand.damage}}</span>
            <span class="info">defesa: {{personS._person.leftHand.defese}}</span>
            <span class="info">mãos: {{personS._person.leftHand.hands}}</span>
        </div>
        <div class="item"><span class="info">nada</span> </div>
        <div class="item">
            <span class="info">{{personS._person.rightHand.name}}</span>
            <span class="info">ataque: {{personS._person.rightHand.damage}}</span>
            <span class="info">defesa: {{personS._person.rightHand.defese}}</span>
            <span class="info">Mãos: {{personS._person.leftHand.hands}}</span>
        </div>
    </div>
    <div class="line"><div class="item"><span class="info">nada</span> </div></div>
</div>