<div class="inventory">
    <div class="title">
        <div (click)="changeMenuRest.emit()" class="_button"> Voltar </div>
    </div>
    <div class="itens">
        <div class="_item" *ngFor="let item of inventory; let i = index">
            <div class="item-info" *ngIf="item?.name != ''"> 
                   <div class="nome">{{item.name}}</div>
                  <div class="status"> Ataque: {{item.damage}}</div> 
                   <div class="status">Defesa: {{item.defese}}</div> 
                <div class="buttons">
                    <div class="button equip">equipar</div>
                    <div class="button sell">vender</div>
                </div>
            </div>

        </div>
        <!-- <img src="../../../assets/Inventario.svg" alt="sacola de Inventário"> -->
    </div>
</div>