._item{
    margin: 1px;
    z-index: 80;
    width: 100px;
    height: 100px;
    border: 2px solid rgba(0, 0, 0, 0.264);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .item-info{
        overflow: hidden;
        width: 100%;
        .status{

            font-size: smaller;
        }
    }
    .buttons{
        display: flex;

    .button{
        cursor: pointer;
        position: relative;
        font-size: small;
    }
    .sell{
        margin-left: 5px;
        color: rgb(214, 139, 0);
    }
    .equip{
        margin-right: 5px;
        color: rgb(214, 139, 0);
        
    }
    }
}
.nome{
    color: orange;
    font-size: small;
    inline-size: 100px; 
    overflow: hidden;
    text-overflow: clip;
}
.itens{
    padding: 2px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(110, 50, 4);
    position: relative;
    display: flex;
    justify-content: last baseline ;
    align-items: center;
    flex-wrap:wrap;
    width: calc(100vw /3);
    min-height: 300px;
    color: wheat;
    img{
        z-index: 70;
        position: absolute;
        left: -4vw;
        top: -10vh;
        width: 360px;
        @media (max-width:800px) {
            left: -10vw;       
        }
    }
}
.hand{
    border-style: solid;
    border-color: black;
    border-radius: 2px;
    border-width: 1px;
    margin-left: 1px;
    color: rgb(214, 139, 0);
}
.inventory{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    @media (max-width:800px) {
        left: 5vw;       
    }
}
._button{
    cursor: pointer;
    z-index: 99;
    position: absolute;
    bottom: 5vh;
    left: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    border-radius: 50%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 5px;
    padding-right: 6px;
    @media (max-width:800px) {
        left: 5vw;
            
    }
}