<div class="inventory">
    <app-character></app-character>
    GOLD: {{personS._person.gold}}
    <div class="title">
        <div (click)="changeMenuRest.emit()" class="_button"> Voltar </div>
    </div>
    <div class="itens">

        <div class="_item" *ngFor="let objeto of personS._person.inventory; let i = index">
            <div class="item-info">
                <div class="item-info" *ngIf="i != selected ">
                    <div class="nome">{{objeto.name}}</div>
                    <div class="status"> Ataque: {{objeto.damage}}</div>
                    <div class="status">Defesa: {{objeto.defese}}</div>
                    <div class="status">Mãos: {{objeto.hands}}</div>
                    <div class="buttons">
                        <div class="button equip" (click)="toggleModal(i)">equipar</div>
                        <div class="button sell" (click)="vender(objeto)">vender</div>
                    </div>
                </div>
                <div *ngIf="selected === i" class="item-info">
                    <div class="status">Onde equipar?</div>  
                    <div class="buttons">
                        <div class="button hand" (click)="equipar(objeto,'left')">Direita</div>
                        <div class="button hand" (click)="equipar(objeto,'right')">Esquerda</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>