.screen{
    display:flex;
    align-content: center;
    height: 350px;
    flex-direction: column
}
.imagens{
    display:flex;
    justify-content: center;
    align-content: center;
}

.fundo{
    z-index: 1;
    position: absolute;
    width: 500px;
}
.campfire{
    position: relative;
    top: 75%;
    z-index: 99;
    align-self: center;
}
.inimigo{
    position: relative;
    top: 75%;
    right: 0%;
    z-index: 99;
    width: 200px;
    align-self: center;
}
.arma{
    z-index: 99;
    position: relative;
    top: 75%;
    height: 200px;

}
.monster{
    background-color: rgb(62, 15, 15);
}
.person{
    background-color: red;
}
.hp{
    border: solid 1px rgb(168, 168, 168);
    margin: 5px;
    max-width: 200px;
    height: 10px;
}