.menu{
    position: absolute;
    z-index: 99;
    display: flex;
    top: 0px;
    width: 100vw;
    height: 100vh;
}
.screen{
    width: 100vw;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.imagens{
    display:flex;
    justify-content: center;
    align-content: center;
}

.fundo{
    z-index: 1;
    position: absolute;
    height: 100%;
    top: 0px;
}
.campfire{
    position: relative;
    top: 34vh;
    right: 3vw;
    z-index: 99;
    align-self: center;
}
.inimigo{
    position: relative;
    top: 34vh;
    right: 15%;
    z-index: 99;
    align-self: center;
    display: flex;
    width: 200px;
}
.arma{
    z-index: 99;
    position: relative;
    top: 228px;
    height: 200px;
    right: 160px;

}
.rest{
    transform: rotate(150deg);
    top: 294px;
    * svg{
      width: 100px;  
    }
}
.monster{
    background-color: rgb(62, 15, 15);
}
.person{
    background-color: red;
}
.hp{
    border: solid 1px rgb(168, 168, 168);
    margin: 5px;
    max-width: 200px;
    height: 10px;
}