    <div class="life"></div>
    <app-menu-tattle class="menu" *ngIf="menuService.menu == menus.battle"
    (changeMenu)="changeMenu(menus.rest)"
    (changeMenuInventory)="changeMenu(menus.inventory)"
    (changeMenuRest)="changeMenu(menus.rest)">
    </app-menu-tattle>
    <app-menu-rest class="menu" *ngIf="menuService.menu == menus.rest"
    (changeMenuBattle)="changeMenu(menus.battle)"
    (changeMenuInventory)="changeMenu(menus.inventory)"
    (changeMenuShop)="changeMenu(menus.shop)"
    >
    </app-menu-rest>
    <app-inventory class="menu" *ngIf="menuService.menu == menus.inventory"
    (changeMenuRest)="changeMenu(menus.rest)">
    </app-inventory>
    <app-shop class="menu" *ngIf="menuService.menu == menus.shop"
    (changeMenu)="changeMenu(menus.rest)">
    </app-shop>

