.slime_color{
    stroke:black
}
.slime_core{
    fill: red;
}
.inimigo_svg{
    width: 200px;
}
.inimigo_encolher{
    animation-name: encolher;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes encolher {
    from {height: 200px;;}
    to {height: 10px;}
  }