
  <div ng *ngIf="!menuS.opening">
    <div *ngIf="!battleS.isGameOver"  class="screen">
      <app-screen></app-screen>
    </div>

    <div class="gameover" *ngIf="battleS.isGameOver">
      <h1>GAME OVER!</h1>
      <button class="_button">
        <h3 (click)="continue()">continuar</h3>
      </button>
      <ul>
        <li *ngFor="let item of rankingS.ranking">
         Data: {{item.data}} Andar: {{item.floor}} Rodadas {{item.round}}
        </li>
      </ul>
    </div>
  </div>
  <a class="opening" *ngIf="menuS.opening">
    <app-opening (click)="toggleOpening()"></app-opening>
  </a>
