.modal{
    display: flex;
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: #000000d9;
    color: #acacac;
    left: 5%;
    top: 15%;
    text-align: justify;
    padding: 30px;
    border: 6px double #a0a0a0;
}
.click{
    z-index: 80;
    display: flex;
    position: absolute;
    background-color: #000000d9;
    color: #acacac;
    left: 5vw;
    top: 90vh;
}

.image{

    position: absolute;
    height: 100vh;
    @media (max-width:800px) {
        position: absolute;
        left: -25vw;
    }
}
