.bi-suit-heart-fill{
color: rgb(217, 12, 12);
margin-left: 2px;
margin-right: 2px;
}
.bi-suit-heart-fill{
    color: rgb(217, 12, 12);
    margin-left: 2px;
    margin-right: 2px;
}
.life_bar{
    display: flex;
}

.menu{
    display: flex;
    flex-direction: column;
}
.buttons{
    width: min-content;
    display: flex;
    flex-direction: row;
}