.life_bar{
    display: flex;
}

.menu{
    display: flex;
    width: 100%;
    height: 100%;
}
._buttons{
    z-index: 80;
    display: flex;
    flex-direction: row;
    bottom: 0px;
    position: absolute;
    width: 100%;
    ._button{
        cursor:pointer;
        display: flex;
        width: 100px;
        height: 100px;
        align-items: center;
        justify-content: center;
        img{
            width: 80%;
            height: 80%;
        }
    }
    ._attack{
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 12vh;
        left: 20vw;
        width: 120px;
        height: 120px;
    }
    ._scape{
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 4vh;
        right: 20vw;
    }
    ._potions{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 4vh;
        left: 30vw;
        .potion_image{
            width: 100%;
            height: 100%;
        }
    }
}
._potions{
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
}
._potion{
    width: 50px;
    border: 2px solid;
    margin: 5px;
    padding: 2px;
    display: flex;
    flex-direction: column;
}